DB_HOST=dummy
DB_USERNAME=dummy
DB_PASSWORD=dummy
MYAPP_DATABASE_USERNAME=dummy
MYAPP_DATABASE_PASSWORD=dummy
PROJECT_ROOT="dummy"
DEVELOPMENT_ORIGIN_URL=dummy
PRODUCTION_ORIGIN_URL=dummy

# Google認証
SESSION_KEY=dummy
GOOGLE_CLIENT_ID=dummy
GOOGLE_CLIENT_SECRET=dummy
JWT_SECRET_KEY=dummy
REACT_APP_API_URL=dummy